<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicplayer.properties"/>
    <context:component-scan base-package="cf.tilgiz.spring"/>

    <bean id="musicBeanClassical"
          class="cf.tilgiz.spring.ClassicalMusic"
          factory-method="createByFactoryMethod"
          init-method="doMyInitClassicalMusic"
          destroy-method="doMyDestroyClassicalMusic">
    </bean>
    <bean id="musicBeanPop"
          class="cf.tilgiz.spring.PopMusic"
          init-method="doMyInitPopMusic"
          destroy-method="doMyDestroyPopMusic">
    </bean>

    <bean id="musicPlayer"
          class="cf.tilgiz.spring.MusicPlayer"
          scope="prototype"
          init-method="doInitMusicPlayer"
          destroy-method="doDestroyMusicPlayer">
        <property name="musicList">
            <list value-type="cf.tilgiz.spring.Music">
                <ref bean="musicBeanClassical"/>
                <ref bean="musicBeanRock"/>
                <ref bean="musicBeanPop"/>
            </list>
        </property>

        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="100"/>
    </bean>

</beans>